---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/users.list?presence=true&pretty=1&token=xoxp-4054076347-8547304386-17439255827-27d44a4477
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read,read
      X-Oauth-Scopes:
      - identify,read,post,client
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "ok": true,
            "members": [
                {
                    "id": "U041L2M1H",
                    "team_id": "T041L28A7",
                    "name": "billy",
                    "deleted": false,
                    "status": null,
                    "color": "4bbe2e",
                    "real_name": "Billy Tran",
                    "tz": "America\/Los_Angeles",
                    "tz_label": "Pacific Standard Time",
                    "tz_offset": -28800,
                    "profile": {
                        "first_name": "Billy",
                        "last_name": "Tran",
                        "image_24": "https:\/\/avatars.slack-edge.com\/2015-03-17\/4083496444_8e5844d70232b7899d99_24.jpg",
                        "image_32": "https:\/\/avatars.slack-edge.com\/2015-03-17\/4083496444_8e5844d70232b7899d99_32.jpg",
                        "image_48": "https:\/\/avatars.slack-edge.com\/2015-03-17\/4083496444_8e5844d70232b7899d99_48.jpg",
                        "image_72": "https:\/\/avatars.slack-edge.com\/2015-03-17\/4083496444_8e5844d70232b7899d99_72.jpg",
                        "image_192": "https:\/\/avatars.slack-edge.com\/2015-03-17\/4083496444_8e5844d70232b7899d99_192.jpg",
                        "image_original": "https:\/\/avatars.slack-edge.com\/2015-03-17\/4083496444_8e5844d70232b7899d99_original.jpg",
                        "skype": "billytran1222",
                        "phone": "6507877799",
                        "title": "",
                        "real_name": "Billy Tran",
                        "real_name_normalized": "Billy Tran",
                        "email": "billy@mortgageclub.co"
                    },
                    "is_admin": true,
                    "is_owner": true,
                    "is_primary_owner": false,
                    "is_restricted": false,
                    "is_ultra_restricted": false,
                    "is_bot": false,
                    "presence": "active"
                },
                {
                    "id": "U08G38YBC",
                    "team_id": "T041L28A7",
                    "name": "cuongvu",
                    "deleted": false,
                    "status": null,
                    "color": "e96699",
                    "real_name": "Cuong Vu",
                    "tz": "Asia\/Novosibirsk",
                    "tz_label": "Novosibirsk Time",
                    "tz_offset": 21600,
                    "profile": {
 [...]
